<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\forma310\Documents\WebDeploy\CrownFundingWEBAPI.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>LesEditeursCommun</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Crownfunding_EditionEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=FORMA-VDI310\SQL2012DEV;Initial Catalog=Crownfunding_Edition;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=FORMA-VDI310\SQL2012DEV;Initial Catalog=Crownfunding_Edition;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Crownfunding_EditionEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Global.CrownFundingEdition.csdl|res://*/Global.CrownFundingEdition.ssdl|res://*/Global.CrownFundingEdition.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FORMA-VDI310\SQL2012DEV;initial catalog=Crownfunding_Edition;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Crownfunding_EditionEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Global.CrownFundingEdition.csdl|res://*/Global.CrownFundingEdition.ssdl|res://*/Global.CrownFundingEdition.msl;provider=System.Data.SqlClient;provider connection string="data source=FORMA-VDI310\SQL2012DEV;initial catalog=Crownfunding_Edition;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>